
Enter text to search for movies.
<br>
<form name="movieForm" action="http://www.omdbapi.com/?">
<br><br>
Movie Title: <input type="text" size="80" name="s">
<br><br>
<input type="submit" value="Submit">
</form>

